<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '450px' }"
  (onHide)="closeDialog()"
  [header]="saveMode ? 'Novo Usuário' : editMode ? 'Editar Usuário' : ''"
  styleClass="p-fluid"
  [modal]="true"
  [draggable]="false"
>
  <ng-template pTemplate="content">
    <form [formGroup]="userFormDialog">

      <div class="field"  *ngIf="usuarioLogado">
        <label for="nivel_acesso">Nível de Acesso:</label>
        <span> * </span>
        <p-dropdown
        id="nivel_acesso"
        [options]="nivel_acesso"
        formControlName="nivel_acesso"
        placeholder="Selecione"
        optionLabel="nvl_acesso"
        [(ngModel)]="slected_nivel_acesso"
        >
        </p-dropdown>
      </div>

      <div class="field">
        <label for="nome">Nome:</label>
        <span> * </span>
        <input
          type="text"
          formControlName="nome"
          pInputText
          maxlength="50"
          id="nome"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label for="sobrenome">Sobrenome:</label>
        <span> * </span>
        <input
          type="text"
          formControlName="sobrenome"
          pInputText
          maxlength="50"
          id="sobrenome"
          required
          autofocus
        />
      </div>

      <div class="field">
        <label for="email">Email:</label>
        <span> * </span>
        <input
          type="text"
          formControlName="email"
          pInputText
          maxlength="50"
          id="email"
          required
          autofocus
        />
      </div>

      <div class="field">
        <label for="senha">Senha:</label>
        <span> * </span>
        <p-password
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [toggleMask]="true"
        id="passwordInput"
        [maxlength]="50"
        formControlName="senha"
        [feedback]="false"
      />
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      class="p-button-text"
      (click)="closeDialog()"
    ></button>
    <button
    *ngIf="saveMode"
    pButton
    pRipple
    label="Salvar"
    class="p-button-text"
    (click)="saveUser()"
  ></button>

  <button
  *ngIf="editMode"
  pButton
  pRipple
  label="Editar"
  class="p-button-text"
  (click)="editUser()"
></button>
  </ng-template>
</p-dialog>


<p-toast></p-toast>